*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-active {
  font-family: 'Roboto', sans-serif;
  background-color: #1874d0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.nav {
  font-family: 'Roboto', sans-serif;
  color: #000;
}