*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-active {
  font-family: 'Roboto', sans-serif;
  background-color: #1874d0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.nav {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.alert {
  position: fixed;
  left: 50%;
  top: -100%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
  border-radius: 5px;
  width: 20rem;
  transition: all .4s;
}

.alert-show {
  top: 2%;
}

.alert-hidden {
  top: -100%;
}